pipeline/Send Notification If PL Successful.json
{
	"name": "Send Notification If PL Successful",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "MessageCard",
					"value": {
						"value": "{\n    \"@type\": \"MessageCard\",\n    \"@context\": \"http://schema.org/extensions\",\n    \"themeColor\": \"0076D7\",\n    \"summary\": \"Pipeline status alert message​​​​\",\n    \"sections\": [\n        {\n            \"activityTitle\": \"Pipeline execution alert​​​​\",\n            \"facts\": [\n                {\n                    \"name\": \"Subscription Id:\",\n                    \"value\": \"@{pipeline().parameters.subscription}\"\n                },\n                {\n                    \"name\": \"Resource Group:\",\n                    \"value\": \"@{pipeline().parameters.resourceGroup}\"\n                },\n                {\n                    \"name\": \"Data Factory Name:\",\n                    \"value\": \"@{pipeline().DataFactory}\"\n                },\n                {\n                    \"name\": \"Pipeline RunId:\",\n                    \"value\": \"@{pipeline().parameters.runId}\"\n                },\n                {\n                    \"name\": \"Pipline Name:\",\n                    \"value\": \"@{pipeline().Pipeline}\"\n                },\n                {\n                    \"name\": \"Pipeline Status:\",\n                    \"value\": \"@{pipeline().parameters.status}\"\n                },\n                {\n                    \"name\": \"Execution Start Time (UTC):\",\n                    \"value\": \"@{pipeline().parameters.triggerTime}\"\n                },\n                {\n                    \"name\": \"Execution Finish Time (UTC):\",\n                    \"value\": \"@{pipeline().parameters.executionEndTime}\"\n                },\n                {\n                    \"name\": \"Execution Duration (s):\",\n                    \"value\": \"@{pipeline().parameters.runDuration}\"\n                },\n                {\n                    \"name\": \"Message:\",\n                    \"value\": \"@{pipeline().parameters.message}\"\n                },\n                {\n                    \"name\": \"Notification Time (UTC):\",\n                    \"value\": \"@{utcnow()}\"\n                }\n            ],\n            \"markdown\": true\n        }\n    ],\n    \"potentialAction\": [\n        {\n            \"@type\": \"OpenUri\",\n            \"name\": \"View pipeline run\",\n            \"targets\": [\n                {\n                    \"os\": \"default\",\n                    \"uri\": \"@{concat('https://synapse.azure.com/monitoring/pipelineruns/',pipeline().parameters.runId,'?factory=/subscriptions/',pipeline().parameters.subscription,'/resourceGroups/',pipeline().parameters.resourceGroup,'/providers/Microsoft.DataFactory/factories/',pipeline().DataFactory)}\"\n                }\n            ]\n        }\n    ]\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "WebHook1",
				"type": "WebHook",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@pipeline().parameters.weebhookUrl",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "@json(variables('MessageCard'))",
						"type": "Expression"
					},
					"timeout": "00:10:00"
				}
			}
		],
		"parameters": {
			"weebhookUrl": {
				"type": "string",
				"defaultValue": "https://hooks.slack.com/services/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"
			},
			"name": {
				"type": "string",
				"defaultValue": "Test"
			},
			"triggerTime": {
				"type": "string"
			},
			"status": {
				"type": "string",
				"defaultValue": "Testing"
			},
			"message": {
				"type": "string",
				"defaultValue": "This is executed with success."
			},
			"subscription": {
				"type": "string",
				"defaultValue": "14b54a77-42f5-40d1-8202-360631e7ec2c"
			},
			"resourceGroup": {
				"type": "string",
				"defaultValue": "Naresh-RG-01"
			},
			"runid": {
				"type": "string"
			},
			"executionEndTime": {
				"type": "string"
			},
			"runDuration": {
				"type": "string"
			}
		},
		"variables": {
			"MessageCard": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-06-11T04:40:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}